Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

'Add to Workspace' string update
  backend/tests/vscode-youi-events.spec.ts
Due: none

'Add to Workspace' string update (#194)
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

Adding the output path parameter to the yeomanui constructor
  backend/src/extension.ts
Due: none

adding the outputPath paremter to the constructor
  backend/src/yeomanui.ts
Due: none

updating tests for the yeomanui constructor change
  backend/tests/yeomanui.spec.ts
Due: none

Update extension.ts
  backend/src/extension.ts
Due: none

Back feature - style
  frontend/src/App.vue
Due: components

Update yeomanui.ts
  backend/src/yeomanui.ts
Due: none

output folder update (#192)
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

coverage and messages fixes
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
Due: components

path bug fix
  backend/.nycrc.json
  backend/src/extension.ts
Due: none

coverage, messages and output folder path bug fixes (#195)
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
Due: components

version update
  .circleci/config.yml
  backend/package.json
Due: none

version update (#196)
  .circleci/config.yml
  backend/package.json
Due: none

retainContextWhenHidden set to true
  backend/src/extension.ts
Due: none

update coverage
  backend/.nycrc.json
  backend/tests/extension.spec.ts
Due: none

update version
  backend/package.json
Due: none

Back: (ForceDefault = true) only if (answer !== undefined)
  backend/src/replayUtils.ts
Due: none

generator foodq - update destinationRoot in configuring() func
  generator-foodq/generators/app/index.js
Due: none

Retain webview (#197)
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/tests/extension.spec.ts
Due: none

generator foodq - update destinationRoot in configuring() func (#198)
  generator-foodq/generators/app/index.js
Due: none

generator-foodq-README
  generator-foodq/README.md
Due: none

generator-foodq-README (#199)
  generator-foodq/README.md
Due: none

Back: 'back' button is invisable in Generatorselection page
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

"version": "0.0.62",
  backend/package.json
Due: none

Back feature (#184)
  backend/package.json
  backend/src/replayUtils.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/.vscode/tasks.json
  frontend/src/App.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/assets/dots.svg
  frontend/src/components/GeneratorSelection.vue
  frontend/src/components/Navigation.vue
  frontend/tests/App.spec.js
  frontend/vue.config.js
Due: components, tests

Allow setting answers on currentPrompt
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Answers (#200)
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

add logger to back logic
  frontend/src/App.vue
Due: components

Update package.json
  backend/package.json
Due: none

add logger to back logic (#201)
  backend/package.json
  frontend/src/App.vue
Due: components

set-back-invisable
  frontend/src/App.vue
Due: components

"version": "0.0.64"
  backend/package.json
Due: none

set-back-invisable (#202)
  backend/package.json
  frontend/src/App.vue
Due: components

showInformationMessage - show 'Add to Workspace' button only if workspace is open
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

version: 0.0.65
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

showInformationMessage - show 'Add to Workspace' button only if works… (#203)
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

Next / Back button - align next 3px to the right
  frontend/src/App.vue
Due: components

fix add to workspace and open in workspace buttons
  backend/src/extension.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
Due: components

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
