Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

"@sap-devx/inquirer-gui": "0.1.5"
  frontend/package.json
Due: components

"version": "0.0.66"
  backend/package.json
Due: none

"@sap-devx/inquirer-gui": "0.1.5" (#206)
  backend/package.json
  frontend/package.json
Due: components

"version": "0.0.67"
  backend/package.json
Due: none

"version": "0.0.67" (#207)
  backend/package.json
Due: none

update coverage
  backend/.nycrc.json
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

update coverage
  backend/.nycrc.json
  frontend/jest.config.js
  frontend/src/App.vue
Due: components

pass logger to generators
  backend/src/extension.ts
  backend/src/yeomanui.ts
Due: none

pass logger to generators
  backend/src/yeomanui.ts
Due: none

fix double installing dependecnies message
  backend/src/yeomanui.ts
Due: none

fix
  backend/src/yeomanui.ts
Due: none

Next / Back button - align next 3px to the right (#204)
  frontend/src/App.vue
Due: components

"version": "0.0.68"
  backend/package.json
Due: none

cr fixes
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
Due: none

"version": "0.0.68" (#209)
  backend/package.json
Due: none

fixes
  backend/.nycrc.json
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
  frontend/src/App.vue
Due: components

increase coverage
  backend/.nycrc.json
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

increase coverage
  backend/.nycrc.json
  backend/src/vscode-youi-events.ts
Due: none

increase coverage
  backend/.nycrc.json
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

fix error
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

Update vscode-youi-events.ts
  backend/src/vscode-youi-events.ts
Due: none

On success buttons (#208)
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
Due: components

fix undefined messages
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

fix logic
  backend/.nycrc.json
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

increase coverage
  backend/.nycrc.json
  backend/src/extension.ts
Due: none

fix undefined messages (#210)
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

add target folder button
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

add logger
  backend/src/yeomanui.ts
Due: none

inquirer-gui-tiles-plugin
  frontend/package.json
  frontend/src/App.vue
  generator-foodq/generators/app/images/defaultImage.js
  generator-foodq/generators/app/images/jerk-chicken.jpeg
  generator-foodq/generators/app/images/junk-food.jpg
  generator-foodq/generators/app/images/lasagna.jpeg
  generator-foodq/generators/app/images/steak.jpg
  generator-foodq/generators/app/index.js
  generator-foodq/package.json
Due: components

inquirer-gui-tiles-plugin (#212)
  frontend/package.json
  frontend/src/App.vue
  generator-foodq/generators/app/images/defaultImage.js
  generator-foodq/generators/app/images/jerk-chicken.jpeg
  generator-foodq/generators/app/images/junk-food.jpg
  generator-foodq/generators/app/images/lasagna.jpeg
  generator-foodq/generators/app/images/steak.jpg
  generator-foodq/generators/app/index.js
  generator-foodq/package.json
Due: components

test
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

show target folder browse together with generator selection
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

50%
  frontend/src/App.vue
Due: components

inquirer-gui-card-style
  frontend/src/assets/css/globalStyles.css
  generator-foodq/generators/app/index.js
Due: components

inquirer-gui-card-style (#213)
  frontend/src/assets/css/globalStyles.css
  generator-foodq/generators/app/index.js
Due: components

fixes
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

"version": "0.0.70"
  backend/package.json
Due: none

"version": "0.0.70" (#215)
  backend/package.json
Due: none

successInfoMessage = 'The project has been generated.'
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

successInfoMessage = 'The project has been generated.' (#216)
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none
