Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

update tests
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
  backend/tests/extension.spec.ts
Due: none

update tests
  backend/tests/exploregens.spec.ts
Due: none

cr fixes
  backend/.nycrc.json
  backend/src/exploregens.ts
Due: none

update tests
  backend/.nycrc.json
  backend/tests/exploregens.spec.ts
Due: none

update coverage
  backend/.nycrc.json
Due: none

update css
  backend/.nycrc.json
  frontend/src/assets/css/globalStyles.css
Due: components

update ui
  frontend/src/ExploreGensApp.vue
Due: components

adding enter
  backend/src/yeomanui.ts
Due: none

Rewrite the logger usage (#310)
  backend/package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

[Issue-308] Yeoman UI Wizard should say that no generators are currently installed
  backend/package.json
  backend/src/messages.ts
  frontend/src/App.vue
  frontend/src/components/Info.vue
  frontend/tests/App.spec.js
Due: components, tests

update logic
  backend/src/exploregens.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/tests/exploregens.spec.ts
  frontend/src/ExploreGensApp.vue
  frontend/src/exploreGensMessages.js
Due: components

Update .nycrc.json
  backend/.nycrc.json
Due: none

first cr fix
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

[Issue-308] Yeoman UI Wizard should say that no generators are curren… (#311)
  backend/src/messages.ts
  frontend/src/App.vue
  frontend/src/components/Info.vue
  frontend/tests/App.spec.js
Due: components, tests

Update README.md
  backend/README.md
Due: none

update ui
  frontend/src/App.vue
Due: components

explore generators (#298)
  backend/.nycrc.json
  backend/package.json
  backend/src/exploreGensMessages.ts
  backend/src/exploregens.ts
  backend/src/extension.ts
  backend/src/output-channel-log.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/exploregens.spec.ts
  backend/tests/extension.spec.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/public/exploreGensIndex.html
  frontend/src/App.vue
  frontend/src/ExploreGensApp.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/exploreGensMain.js
  frontend/src/exploreGensMessages.js
  frontend/vue.config.js
Due: components

add web socket for explore gens
  .vscode/launch.json
  backend/package.json
  backend/src/exploregens.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/tests/exploregens.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/public/exploregens/index.html
  frontend/src/ExploreGensApp.vue
  frontend/vue.config.js
Due: components

update tests
  backend/src/exploregens.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/tests/exploregens.spec.ts
Due: none

update tests
  backend/src/exploregens.ts
Due: none

update logic
  backend/package.json
  backend/src/webSocketServer/exploreGensIndex.ts
Due: none

create run configuration
  frontend/package.json
  frontend/vue.config.js
Due: components

updte run configuration
  frontend/vue.config.js
Due: components

update run config
  frontend/package.json
  frontend/src/ExploreGensApp.vue
  frontend/vue.config.js
Due: components

Websocket exploregens (#312)
  .vscode/launch.json
  backend/package.json
  backend/src/exploregens.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/tests/exploregens.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/public/exploregens/index.html
  frontend/src/ExploreGensApp.vue
  frontend/vue.config.js
Due: components

update ui
  backend/src/exploregens.ts
  frontend/src/ExploreGensApp.vue
Due: components

update ui
  backend/.nycrc.json
  frontend/src/ExploreGensApp.vue
Due: components

update version
  backend/package.json
  frontend/src/ExploreGensApp.vue
Due: components

add explore gens button
  backend/.nycrc.json
  backend/src/yeomanui.ts
  frontend/src/components/Header.vue
Due: components

update ui
  frontend/jest.config.js
  frontend/src/ExploreGensApp.vue
  frontend/src/assets/css/globalStyles.css
Due: components

add load yeoman ui button
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
  frontend/src/ExploreGensApp.vue
  frontend/src/components/Header.vue
Due: components

support reveal in panels
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
Due: none

add more tests
  backend/.nycrc.json
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
Due: none

update ui
  backend/.nycrc.json
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
  frontend/src/App.vue
  frontend/src/ExploreGensApp.vue
  frontend/src/components/Header.vue
Due: components

update logic
  frontend/src/App.vue
Due: components

update tests
  frontend/tests/components/Header.spec.js
Due: components, tests

update ui
  backend/.nycrc.json
  backend/package.json
  backend/src/exploregens.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/exploregens.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/src/ExploreGensApp.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/Header.vue
  frontend/tests/components/Header.spec.js
Due: components, tests

update ui and add button to open explore generators from yeoman ui
  backend/.nycrc.json
  backend/package.json
  backend/src/exploregens.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/exploregens.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/src/ExploreGensApp.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/Header.vue
  frontend/tests/components/Header.spec.js
Due: components, tests

cr fixes
  backend/src/exploregens.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
Due: none
