Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

store_artifacts pattern fixed
  .circleci/config.yml
Due: none

debugging dummy step
  .circleci/config.yml
Due: none

Dummy step fro debugging
  .circleci/config.yml
Due: none

Dummy debugg step fixing
  .circleci/config.yml
Due: none

Dummy step
  .circleci/config.yml
Due: none

Dubbugg step fix
  .circleci/config.yml
Due: none

store-artifacts coverage
  .circleci/config.yml
Due: none

Generator-Selection: v-card__title word-wrap break-word
  frontend/src/components/GeneratorSelection.vue
Due: components

Bump build version
  backend/package.json
Due: none

Bump build version (#182)
  backend/package.json
Due: none

Generator-Selection: v-card__title word-wrap break-word (#181)
  frontend/src/components/GeneratorSelection.vue
Due: components

eliminated navigation refresh after back; added test
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

"version": "0.0.56"
  backend/package.json
Due: none

"version": "0.0.56" (#183)
  backend/package.json
Due: none

support __ForceDefault
  backend/src/replayUtils.ts
  frontend/package.json
Due: components

renamed replayutils methods; changed answers hash key; changed timing of decrementing prompt index in frontend
  backend/src/replayUtils.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/src/components/Navigation.vue
  frontend/tests/App.spec.js
Due: components, tests

using object-hash; fixed navigation
  backend/package.json
  backend/src/replayUtils.ts
  frontend/package.json
  frontend/src/App.vue
Due: components

dispose panel instance
  backend/src/extension.ts
Due: none

questions of type list support type to search
  frontend/package.json
Due: components

Type to search (#187)
  frontend/package.json
Due: components

"version": "0.0.57"
  backend/package.json
Due: none

dispose panel instance (#186)
  backend/src/extension.ts
Due: none

"version": "0.0.57" (#188)
  backend/package.json
Due: none

added folder browser inquirer-gui plugin
  backend/src/extension.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
Due: components

Folder browser (#189)
  backend/src/extension.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
Due: components

"version": "0.0.58"
  backend/package.json
Due: none

"version": "0.0.58" (#190)
  backend/package.json
Due: none

define whitelist for object-hash keys
  backend/src/replayUtils.ts
Due: none

Update README.md
  README.md
Due: none

'Add to workspace' button in the end of wizard
  backend/src/vscode-youi-events.ts
  backend/tests/extension.spec.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

"version": "0.0.59"
  backend/package.json
Due: none

Update yeomanui.ts
  backend/src/yeomanui.ts
Due: none

'Add to workspace' button in the end of wizard (#191)
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/tests/extension.spec.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

Update yeomanui.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

update the output folder
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

showDoneMessage update strings
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

showDoneMessage update strings (#193)
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

'Add to Workspace' string update
  backend/src/vscode-youi-events.ts
Due: none

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
