Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

ci: delete dependabot.yml
  .github/dependabot.yml
Due: none

ci: delete dependabot.yml (#479)
  .github/dependabot.yml
Due: none

fix: tests
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

fix: tests
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

fix: raising the coverage
  frontend/tests/App.spec.js
Due: components, tests

fix: adding toLowerCase
  backend/src/messages.ts
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
Due: none

fix: default selectedWorkspace is open in a new workspace
  backend/package.json
  backend/src/logger/settings-changes-handler.ts
  backend/src/logger/settings.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

fix: remove newSelectedWorkspaceConfig
  backend/src/yeomanui.ts
Due: none

fix: fix tests
  backend/tests/yeomanui.spec.ts
Due: none

fix: remove a test
  backend/tests/yeomanui.spec.ts
Due: none

fix: un-remove a test
  backend/tests/yeomanui.spec.ts
Due: none

feat: open a new workspace vs add to workspace (multiroot) (#461)
  backend/package.json
  backend/src/messages.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/src/youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

chore: multi node build
  .circleci/config.yml
Due: none

chore: multi node build (#486)
  .circleci/config.yml
Due: none

ci: build-and-test-node14
  .circleci/config.yml
Due: none

feat: use logger in webview-rpc library in yeoman backend
  backend/package.json
  backend/src/logger/logger-wrapper.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/src/webSocketServer/index.ts
Due: none

fix: use fixed library version
  backend/package.json
  frontend/package.json
Due: components

feat: use logger for webview-rpc library in yeoman backend (#491)
  backend/package.json
  backend/src/logger/logger-wrapper.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/src/webSocketServer/index.ts
  frontend/package.json
Due: components

chore: update project created info message
  backend/package.json
  backend/src/messages.ts
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

chore: update project created info message (#498)
  backend/package.json
  backend/src/messages.ts
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

fix: use isnil to validate callback function
  backend/src/youi-adapter.ts
Due: none

Create youi-adapter.spec.ts
  backend/tests/youi-adapter.spec.ts
Due: none

fix: format
  backend/tests/youi-adapter.spec.ts
Due: none

fix: set this.yeomanui
  backend/tests/youi-adapter.spec.ts
Due: none

fix: tests input parameters
  backend/tests/youi-adapter.spec.ts
Due: none

fix: failing test
  backend/tests/youi-adapter.spec.ts
Due: none

fix: use isfunction
  backend/src/youi-adapter.ts
Due: none

fix: use isnil to validate callback function (#500)
  backend/src/youi-adapter.ts
  backend/tests/youi-adapter.spec.ts
Due: none

feat: indicating generators are being installed in background
  backend/package.json
  backend/src/extension.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
Due: none

feat: indicating generators are being installed in background
  backend/package.json
  backend/src/extension.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

test: indicating generators are being installed in background
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/messages.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

feat: indicating generators are being installed in background (#497)
  backend/.nycrc.json
  backend/package.json
  backend/src/messages.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

feat: indicating generators are being installed in background (Warning)
  backend/package.json
  backend/src/messages.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

feat: indicating generators are being installed in background (Warning) (#501)
  backend/package.json
  backend/src/messages.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

ci: copy README.md from root repo folder to backend folder
  .circleci/config.yml
  backend/package.json
Due: none

ci: copy README.md from root repo folder to backend folder (#502)
  .circleci/config.yml
  backend/package.json
Due: none

ci: update copyright to 2021
  .reuse/dep5
Due: none

ci: update copyright to 2021 (#503)
  .reuse/dep5
Due: none

chore: bump husky from 4.3.8 to 5.1.3
  backend/package.json
Due: none

fix: issues/516 run as websocket - Error: Cannot find module 'vscode'
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/index.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  backend/tests/youi-adapter.spec.ts
Due: none

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
