Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

cr fixes
  backend/src/panels/YeomanUIPanel.ts
Due: none

update test after cr fix
  backend/src/exploregens.ts
Due: none

update ui and add button to open explore generators from yeoman ui (#316)
  backend/.nycrc.json
  backend/package.json
  backend/src/exploregens.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/exploregens.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/src/ExploreGensApp.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/Header.vue
  frontend/tests/components/Header.spec.js
Due: components, tests

improve explore gens action buttons
  backend/src/exploregens.ts
  frontend/src/ExploreGensApp.vue
Due: components

improve explore gens action buttons
  backend/package.json
  backend/src/panels/ExploreGensPanel.ts
Due: none

update strings
  backend/.nycrc.json
  backend/src/exploreGensMessages.ts
  backend/src/extension.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/tests/extension.spec.ts
  frontend/jest.config.js
  frontend/src/exploreGensMessages.js
Due: components

update strings + update buttons ui
  backend/.nycrc.json
  backend/package.json
  backend/src/exploreGensMessages.ts
  backend/src/exploregens.ts
  backend/src/extension.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/tests/extension.spec.ts
  frontend/jest.config.js
  frontend/src/ExploreGensApp.vue
  frontend/src/exploreGensMessages.js
Due: components

Update package.json
  backend/package.json
Due: none

update strings + update buttons ui (#318)
  backend/.nycrc.json
  backend/src/exploreGensMessages.ts
  backend/src/exploregens.ts
  backend/src/extension.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/tests/extension.spec.ts
  frontend/jest.config.js
  frontend/src/ExploreGensApp.vue
  frontend/src/exploreGensMessages.js
Due: components

update ui, improve logic, bug fixes
  backend/.nycrc.json
  backend/package.json
  backend/src/exploregens.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/tests/exploregens.spec.ts
  frontend/src/ExploreGensApp.vue
  frontend/src/components/Header.vue
  frontend/src/exploreGensMessages.js
Due: components

add space before link
  frontend/src/ExploreGensApp.vue
Due: components

ux review fixes
  frontend/src/App.vue
  frontend/src/ExploreGensApp.vue
  frontend/src/components/Header.vue
Due: components

test fix
  frontend/src/App.vue
Due: components

update ui, improve logic, bug fixes (#319)
  backend/.nycrc.json
  backend/package.json
  backend/src/exploregens.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/tests/exploregens.spec.ts
  frontend/src/App.vue
  frontend/src/ExploreGensApp.vue
  frontend/src/components/Header.vue
  frontend/src/exploreGensMessages.js
Due: components

[FIX ISSUE-307] Field validation errors message https://github.com/SAP/yeoman-ui/issues/307
  frontend/src/assets/css/globalStyles.css
Due: components

[FIX ISSUE-307] Field validation errors message https://github.com/SAP/yeoman-ui/issues/307 (#320)
  frontend/src/assets/css/globalStyles.css
Due: components

add accept legal note button, update logic
  backend/package.json
  backend/src/exploregens.ts
  backend/src/replayUtils.ts
  backend/tests/exploregens.spec.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/ExploreGensApp.vue
  frontend/src/exploreGensMessages.js
Due: components

update ui
  backend/package.json
  backend/src/webSocketServer/exploreGensIndex.ts
  frontend/src/ExploreGensApp.vue
Due: components

update layout
  frontend/src/ExploreGensApp.vue
Due: components

update ui
  frontend/src/ExploreGensApp.vue
Due: components

update button logic
  frontend/src/ExploreGensApp.vue
Due: components

update preferences name
  backend/package.json
  backend/src/exploregens.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings.ts
  backend/src/panels/YeomanUIPanel.ts
  frontend/package.json
  frontend/public/exploregens/index.html
  frontend/src/ExploreGensApp.vue
Due: components

update ui logic
  frontend/src/ExploreGensApp.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/exploreGensMessages.js
Due: components

update ui
  frontend/src/ExploreGensApp.vue
  frontend/src/exploreGensMessages.js
Due: components

disclaimer as link
  frontend/src/ExploreGensApp.vue
Due: components

update string
  frontend/src/ExploreGensApp.vue
  frontend/src/exploreGensMessages.js
Due: components

add accept button for legal note + update ui
  backend/package.json
  backend/src/exploregens.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/replayUtils.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/tests/exploregens.spec.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/public/exploregens/index.html
  frontend/src/ExploreGensApp.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/exploreGensMessages.js
  true/jhipster
  true/jhipster.cmd
  true/jhipster.ps1
Due: components

update backend logic
  backend/src/exploregens.ts
Due: none

Delete jhipster.ps1
  true/jhipster.ps1
Due: none

Delete jhipster.cmd
  true/jhipster.cmd
Due: none

Delete jhipster
  true/jhipster
Due: none

strings review fixes
  frontend/src/ExploreGensApp.vue
  frontend/src/exploreGensMessages.js
Due: components

add accept button for legal note + update ui (#322)
  backend/package.json
  backend/src/exploregens.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/replayUtils.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/tests/exploregens.spec.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/public/exploregens/index.html
  frontend/src/ExploreGensApp.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/exploreGensMessages.js
Due: components

change settings names + add debug message
  backend/package.json
  backend/src/exploregens.ts
  backend/src/logger/settings.ts
Due: none

create env utils
  backend/src/envUtils.ts
  backend/src/exploregens.ts
  backend/src/yeomanui.ts
  backend/tests/exploregens.spec.ts
Due: none

improve logic
  backend/src/envUtils.ts
  backend/src/yeomanui.ts
Due: none

update explore gens logic
  backend/package.json
  backend/src/exploregens.ts
  backend/src/logger/settings.ts
  backend/tests/exploregens.spec.ts
Due: none
