Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

update node modules path logic
  backend/src/exploregens.ts
Due: none

improve global path logic
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
Due: none

fix updating bug
  backend/src/exploreGensMessages.ts
  backend/src/exploregens.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/tests/exploregens.spec.ts
  frontend/src/ExploreGensApp.vue
  frontend/src/exploreGensMessages.js
Due: components

add tests
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
Due: none

update tests
  backend/src/exploreGensMessages.ts
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
Due: none

update tests
  backend/tests/exploregens.spec.ts
Due: none

rename settings properties + update install location logic (#324)
  backend/package.json
  backend/src/exploreGensMessages.ts
  backend/src/exploregens.ts
  backend/src/logger/settings.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/tests/exploregens.spec.ts
  frontend/src/ExploreGensApp.vue
  frontend/src/exploreGensMessages.js
Due: components

[REFACTOR] Issue-308 Wizard should say that no generators are installed.
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

[REFACTOR] Issue-308 Wizard should say that no generators are installed. (#326)
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Upgrade lodash to version 4.17.16
  generator-foodq/package.json
Due: none

Upgrade lodash to version 4.17.16
  frontend/package.json
Due: components

Update package.json
  backend/package.json
Due: none

Upgrade lodash to version 4.17.16 (#327)
  backend/package.json
  frontend/package.json
  generator-foodq/package.json
Due: components

add 2 messages that command contributers can overwrite
  backend/package.json
  backend/src/messages.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
Due: components

add 2 messages that command contributers can overwrite (#328)
  backend/package.json
  backend/src/messages.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
Due: components

remove * from activation events
  backend/package.json
Due: none

remove * from activation events (#329)
  backend/package.json
Due: none

Update package.json (#331)
  backend/package.json
Due: none

Disables the automatic Caps Lock
  frontend/src/components/Header.vue
Due: components

Update Header.vue
  frontend/src/components/Header.vue
Due: components

notify yeoman about generators change
  backend/package.json
  backend/src/exploregens.ts
  backend/src/extension.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

update logic
  backend/package.json
  backend/src/exploregens.ts
  backend/src/extension.ts
  backend/src/panels/YeomanUIPanel.ts
  frontend/src/App.vue
Due: components

Disables the automatic Caps Lock (#332)
  frontend/src/components/Header.vue
Due: components

add test
  backend/src/exploregens.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/tests/exploregens.spec.ts
  backend/tests/extension.spec.ts
Due: none

add test
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

cr fixes
  backend/package.json
Due: none

update first generators prompt when a generator was added or removedchanged
  backend/package.json
  backend/src/exploregens.ts
  backend/src/extension.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/exploregens.spec.ts
  backend/tests/extension.spec.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

update first generators prompt when a generator was added or removedchanged (#334)
  backend/package.json
  backend/src/exploregens.ts
  backend/src/extension.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/exploregens.spec.ts
  backend/tests/extension.spec.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

[REFACTOR] tslint -> eslint
  backend/.eslintignore
  backend/.eslintrc
  backend/.gitignore
  backend/package.json
  backend/src/exploregens.ts
  backend/src/filter.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/output-channel-log.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/replayUtils.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/src/webSocketServer/index.ts
  backend/src/webSocketServer/server-log.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/src/youi-log.ts
  backend/tests/exploregens.spec.ts
  backend/tests/filter.spec.ts
  backend/tests/mockUtil.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  backend/tslint.json
  backend/tslint.yml
Due: none

"version": "1.1.8"
  backend/package.json
Due: none

[REFACTOR] tslint -> eslint (#336)
  backend/.eslintignore
  backend/.eslintrc
  backend/.gitignore
  backend/package.json
  backend/src/exploregens.ts
  backend/src/filter.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/output-channel-log.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/replayUtils.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  backend/src/webSocketServer/index.ts
  backend/src/webSocketServer/server-log.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/src/youi-log.ts
  backend/tests/exploregens.spec.ts
  backend/tests/filter.spec.ts
  backend/tests/mockUtil.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  backend/tslint.json
  backend/tslint.yml
Due: none

change right button name
  frontend/src/App.vue
Due: components

add unit tests
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

cr fixes
  frontend/src/App.vue
Due: components

cr fixes
  frontend/tests/App.spec.js
Due: components, tests

set default output path to projects
  backend/src/panels/YeomanUIPanel.ts
Due: none
