Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

feat: start generator via command
  backend/package.json
  backend/src/extension.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
Due: components

ci: integrate with LGTM.com
  README.md
Due: none

ci: integrate with LGTM.com (#424)
  README.md
Due: none

ci: remove unused import
  backend/src/webSocketServer/exploreGensIndex.ts
Due: none

ci: the initial value is unused since it is always overwritten
  frontend/src/App.vue
Due: components

ci: this expression has no effect
  backend/src/webSocketServer/exploreGensIndex.ts
Due: none

ci: fix function return value
  backend/src/webSocketServer/exploreGensIndex.ts
Due: none

ci: remove unused variable
  backend/src/images/messageImages.ts
Due: none

chore: set initial destination root after generator run
  backend/.nycrc.json
  backend/package.json
  backend/src/yeomanui.ts
Due: none

chore: do not change environment cwd on generator run
  backend/src/yeomanui.ts
Due: none

bump the version
  backend/package.json
Due: none

Update extension.ts
  backend/src/extension.ts
Due: none

chore: set process.swd to it's initial value
  backend/src/yeomanui.ts
Due: none

fix: coverage update
  backend/.nycrc.json
Due: none

feat: start generator via command (#422)
  backend/package.json
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
Due: components

fix: set initial destination root after generator run (#426)
  backend/.nycrc.json
  backend/src/yeomanui.ts
Due: none

ci: leave unused image in comment for future use
  backend/src/images/messageImages.ts
Due: none

ci: fix LGTM alerts (#425)
  backend/src/images/messageImages.ts
  backend/src/webSocketServer/exploreGensIndex.ts
  frontend/src/App.vue
Due: components

fix: generator timed out error
  backend/.mocharc.json
  backend/.nycrc.json
  backend/mocha.opts
  backend/package.json
  backend/src/yeomanui.ts
Due: none

ci: upgrade to "@vscode-logging/logger": "1.2.1"
  backend/package.json
Due: none

ci: upgrade to "@vscode-logging/logger": "1.2.1" (#428)
  backend/package.json
Due: none

fix: improve logic on panel dispose
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

fix: update coverage
  backend/.nycrc.json
Due: none

fix: generator timed out error (#427)
  backend/.mocharc.json
  backend/.nycrc.json
  backend/mocha.opts
  backend/package.json
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

chore: bump version
  backend/package.json
Due: none

fix: bug found in usage of gen.destinationRoot api
  backend/package.json
  backend/src/yeomanui.ts
Due: none

fix: bug found in usage of gen.destinationRoot api (#431)
  backend/package.json
  backend/src/yeomanui.ts
Due: none

fix: display name and description of single generator
  backend/package.json
  backend/src/panels/YeomanUIPanel.ts
  frontend/package.json
  frontend/src/App.vue
Due: components

fix: improve prompts logic
  backend/src/panels/YeomanUIPanel.ts
  frontend/src/App.vue
Due: components

fix: single gen logic fix
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

fix: improve prompts logic
  backend/package.json
  backend/src/yeomanui.ts
  frontend/package.json
  frontend/src/App.vue
Due: components

fix: update tests
  frontend/tests/App.spec.js
Due: components, tests

Single gen fix (#438)
  backend/package.json
  backend/src/yeomanui.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

fix: improve commit message
  backend/package.json
Due: none

fix: improve commit message (#439)
  backend/package.json
Due: none

fix: start/next button logic
  backend/package.json
  frontend/package.json
  frontend/src/App.vue
Due: components

chore: update tests
  frontend/tests/App.spec.js
Due: components, tests

fix: start next button (#441)
  backend/package.json
  frontend/package.json
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests
