Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

add filter test
  backend/.nycrc.json
  backend/src/filter.ts
  backend/tests/filter.spec.ts
Due: none

add more tests
  backend/.nycrc.json
  backend/src/filter.ts
  backend/src/yeomanui.ts
  backend/tests/filter.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

small fix
  backend/src/yeomanui.ts
Due: none

[UI] 'Generator Selection' container row->3cols
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
Due: components

update extension test
  backend/src/extension.ts
  backend/tests/extension.spec.ts
Due: none

[UI-TEST] 'Generator Selection' container row->3cols
  frontend/tests/components/QuestionTypes/GeneratorSelection.spec.js
Due: components, tests

[UI] 'Generator Selection' container row->3cols
  frontend/src/App.vue
Due: components

[UI] Alignment (default image)
  backend/package.json
  backend/src/defaultImage.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/tests/components/Header.spec.js
Due: components, tests

overide env.getNpmPaths
  backend/package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

overide env.getNpmPaths
  backend/package.json
  backend/src/yeomanui.ts
Due: none

fix rpc lib
  backend/package.json
Due: none

[BUG-FIX] genFilter is undefined when running as websocket
  backend/src/extension.ts
  backend/src/yeomanui.ts
Due: none

overide env.getNpmPaths
  backend/src/yeomanui.ts
Due: none

update dependencies
  backend/package.json
Due: none

Create target folder - remove generator name from path
  backend/src/yeomanui.ts
Due: none

add lookup test
  backend/.nycrc.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

merge
  backend/src/yeomanui.ts
Due: none

remove unused line
  backend/src/yeomanui.ts
Due: none

add external messages support
  backend/src/extension.ts
  backend/src/messages.ts
  backend/src/yeomanui.ts
  frontend/package.json
  frontend/src/App.vue
Due: components

change command logic
  backend/src/extension.ts
Due: none

remove command
  .vscode/launch.json
  backend/package.json
  backend/src/extension.ts
  backend/src/messages.ts
  backend/tests/extension.spec.ts
  frontend/src/App.vue
Due: components

add test
  frontend/tests/App.spec.js
Due: components, tests

update test
  backend/.nycrc.json
  backend/tests/extension.spec.ts
Due: none

Implement close yeoman-ui user experience
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/GeneratorDone.vue
  frontend/tests/App.spec.js
Due: components, tests

Show displayName in generator selection
  backend/src/yeomanui.ts
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  generator-foodq/package.json
Due: components

Show displayName in generator selection [TEST]
  backend/tests/yeomanui.spec.ts
Due: none

Show prettyName in generator selection
  backend/package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
Due: components

Show 'Generator Documentation' link in generator selection
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  generator-foodq/package.json
Due: components

version-0.0.14
  backend/package.json
Due: none

fix typo
  backend/src/yeomanui.ts
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: none

Implement close yeoman-ui user experience
  frontend/src/components/QuestionTypes/GeneratorDone.vue
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app/templates/README.md
Due: components

user experience - Done
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  frontend/src/App.vue
  frontend/src/components/Done.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Done.spec.js
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app/templates/README.md
Due: components, tests

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
