Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

write error to log
  backend/package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
  frontend/tests/components/QuestionTypes/GeneratorSelection.spec.js
Due: components, tests

toggle log
  frontend/src/App.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/tests/App.spec.js
Due: components, tests

version update
  backend/package.json
  frontend/package.json
Due: components

catch question exception (#100)
  backend/package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/tests/App.spec.js
  frontend/tests/Utils.js
  frontend/tests/components/QuestionTypes/GeneratorSelection.spec.js
Due: components, tests

UX-Alignment
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
Due: components

UX-Alignment (#106)
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
Due: components

"version": "0.0.24"
  backend/package.json
Due: none

"version": "0.0.24" (#107)
  backend/package.json
Due: none

error message
  frontend/package.json
  frontend/src/App.vue
Due: components

update version
  frontend/package.json
Due: components

add test
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

update logic
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

update error message
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

version update
  backend/package.json
Due: none

error message (#108)
  backend/package.json
  frontend/package.json
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

update exception message
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

add test
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Header - prettyName
  backend/package.json
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
Due: components

update test
  frontend/tests/App.spec.js
Due: components, tests

listen to onEnter and onBlur events inorder to chnage text value
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
Due: components, tests

Header - prettyName (#111)
  backend/package.json
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/tests/App.spec.js
Due: components, tests

update exception message (#110)
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

change core-js version
  frontend/package.json
Due: components

Delete App.spec.js
  frontend/tests/App.spec.js
Due: components, tests

revert delition
  frontend/tests/App.spec.js
Due: components, tests

update logic
  frontend/src/components/QuestionTypes/QuestionInput.vue
Due: components

add test
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
Due: components, tests

revert update of core-js version
  frontend/package.json
Due: components

set initial value
  frontend/src/components/QuestionTypes/QuestionInput.vue
Due: components

update version
  backend/package.json
  frontend/package.json
Due: components

Update QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
Due: components

improve password logic
  frontend/src/App.vue
Due: components

improve logic
  frontend/src/App.vue
Due: components

Update vscode engine to -> 1.39.2
  backend/package.json
Due: none

Update vscode engine to -> 1.39.2 (#114)
  backend/package.json
Due: none

add answer watcher
  frontend/src/components/QuestionTypes/QuestionInput.vue
Due: components

Update README.md
  README.md
Due: none

Input field change event (#112)
  backend/package.json
  frontend/package.json
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
Due: components, tests

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
