Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

add test
  frontend/jest.config.js
  frontend/tests/App.spec.js
Due: components, tests

set timeout of busy indicator to 1 sec
  frontend/src/App.vue
Due: components

README
  README.md
  backend/package.json
Due: none

Update README.md (#115)
  README.md
  backend/package.json
Due: none

cr fixes
  frontend/src/App.vue
Due: components

Password (#113)
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/tests/App.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
Due: components, tests

Revert "Password (#113)"
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/tests/App.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
Due: components, tests

Update App.vue
  frontend/src/App.vue
Due: components

Update App.spec.js
  frontend/tests/App.spec.js
Due: components, tests

change version
  backend/package.json
  frontend/package.json
Due: components

Revert "Password" (#118)
  backend/package.json
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/tests/App.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
Due: components, tests

update code
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
Due: components

code fix
  backend/src/yeomanui.ts
Due: none

fix error info
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

update coverage
  backend/.nycrc.json
  backend/src/yeomanui.ts
Due: none

add console error
  frontend/src/App.vue
Due: components

Error info (#120)
  backend/.nycrc.json
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

version update
  backend/package.json
  frontend/package.json
Due: components

Version29 (#121)
  backend/package.json
  frontend/package.json
Due: components

update questions on show promt
  frontend/src/App.vue
Due: components

version update
  backend/package.json
  frontend/package.json
  frontend/src/App.vue
Due: components

update questions on show promt (#122)
  backend/package.json
  frontend/package.json
  frontend/src/App.vue
Due: components

editor events
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/tests/components/QuestionTypes/QuestionEditor.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
Due: components, tests

add error handler
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

update version
  backend/package.json
Due: none

revert 2 lines
  frontend/src/App.vue
Due: components

revert line
  frontend/src/App.vue
Due: components

editor events (#123)
  backend/package.json
  backend/src/yeomanui.ts
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/tests/components/QuestionTypes/QuestionEditor.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
Due: components, tests

get error info
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

update coverage
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

update tests
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Async fix (#124)
  backend/.nycrc.json
  backend/package.json
  backend/src/yeomanui.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

UI-Theme
  backend/package.json
  frontend/src/App.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/Header.vue
  frontend/src/components/Navigation.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

UI-Theme (#125)
  backend/package.json
  frontend/src/App.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/Header.vue
  frontend/src/components/Navigation.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

place toggleLog command at menu -> editor/title
  backend/.vscodeignore
  backend/package.json
  backend/resources/images/icons/console_dark.svg
  backend/resources/images/icons/console_light.svg
  backend/src/extension.ts
  backend/tests/extension.spec.ts
  frontend/src/App.vue
  frontend/src/components/Done.vue
  frontend/src/components/Header.vue
Due: components

improve list
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components
