Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

enable generators error handling (#264)
  backend/.nycrc.json
  backend/package.json
  backend/src/yeomanui.ts
Due: none

fix undefined messages
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  backend/tests/extension.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

update App.vue logic
  frontend/jest.config.js
  frontend/src/App.vue
Due: components

inquirer-gui-0.1.10
  frontend/package.json
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components

Undefined messages (#265)
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  backend/tests/extension.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.vue
  frontend/tests/App.spec.js
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components, tests

icon: Wizard_logo.png
  backend/.vscodeignore
  backend/Wizard_logo.png
  backend/package.json
Due: none

icon: Wizard_logo.png (#266)
  backend/.vscodeignore
  backend/Wizard_logo.png
  backend/package.json
Due: none

Support filtering generators by any type.
  backend/src/filter.ts
  backend/tests/filter.spec.ts
Due: none

Support filtering generators by any type. (#267)
  backend/src/filter.ts
  backend/tests/filter.spec.ts
Due: none

"version": "1.0.3" , inquirer-gui": "0.1.11" , guiOptions.applyDefaultWhenDirty: true
  backend/package.json
  frontend/package.json
  generator-foodq/generators/app/index.js
Due: components

"version": "1.0.3" , inquirer-gui": "0.1.11" , guiOptions.applyDefaultWhenDirty: true (#268)
  backend/package.json
  frontend/package.json
  generator-foodq/generators/app/index.js
Due: components

pass vscode instance to generators
  backend/package.json
  backend/src/extension.ts
  backend/src/yeomanui.ts
Due: none

improve logic
  backend/src/extension.ts
  backend/src/yeomanui.ts
Due: none

Update extension.ts
  backend/src/extension.ts
Due: none

use vscode in foodq
  generator-foodq/generators/app/index.js
Due: none

Update index.js
  generator-foodq/generators/app/index.js
Due: none

Vscode workaround (#269)
  backend/package.json
  backend/src/yeomanui.ts
  generator-foodq/generators/app/index.js
Due: none

fix vscode to work with webserver
  backend/src/yeomanui.ts
Due: none

Update .nycrc.json
  backend/.nycrc.json
Due: none

fix vscode workaround to work with webserver (#270)
  backend/.nycrc.json
  backend/src/yeomanui.ts
Due: none

inquirer-gui-login-plugin 0.0.4 - enable key.enter
  frontend/package.json
Due: components

inquirer-gui-login-plugin 0.0.4 - enable key.enter (#271)
  frontend/package.json
Due: components

use callback function in run method
  backend/src/yeomanui.ts
Due: none

use callback function in run method (#272)
  backend/.nycrc.json
  backend/src/yeomanui.ts
Due: none

catch intall method exceptions
  backend/src/yeomanui.ts
Due: none

update tests
  backend/tests/yeomanui.spec.ts
Due: none

improve installing progress logic
  backend/src/vscode-youi-events.ts
Due: none

remove mesage
  backend/src/vscode-youi-events.ts
Due: none

fix error handling logic
  backend/src/yeomanui.ts
Due: none

catch intall method exceptions (#273)
  backend/.nycrc.json
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

background chnage
  backend/package.json
  backend/src/extension.ts
  backend/src/yeomanui.ts
  frontend/package.json
  frontend/src/App.vue
Due: components

Update package.json
  backend/package.json
Due: none

busy indicator (#274)
  backend/package.json
  backend/src/extension.ts
  backend/src/yeomanui.ts
  frontend/package.json
  frontend/src/App.vue
Due: components

version-1.0.6
  backend/package.json
Due: none

version-1.0.6 (#276)
  backend/package.json
Due: none

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
