Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

improve logic
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

update tests
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
Due: components, tests

add label
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
Due: components, tests

update tests
  frontend/tests/components/Done.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

YomanUi.toggle - add test
  backend/src/extension.ts
  backend/tests/extension.spec.ts
Due: none

update version to 0.0.34
  backend/package.json
Due: none

place toggleLog command at menu -> editor/title (#126)
  backend/.vscodeignore
  backend/package.json
  backend/resources/images/icons/console_dark.svg
  backend/resources/images/icons/console_light.svg
  backend/src/extension.ts
  backend/tests/extension.spec.ts
  frontend/src/App.vue
  frontend/src/components/Done.vue
  frontend/src/components/Header.vue
  frontend/tests/components/Done.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

Update QuestionList.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

improve step logic
  frontend/src/components/Step.vue
Due: components

add tests
  frontend/tests/components/Step.spec.js
Due: components, tests

add todo comment
  frontend/src/App.vue
Due: components

update foodq to handle not selected list value
  generator-foodq/generators/app/index.js
Due: none

update list label
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

list
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
  generator-foodq/generators/app/index.js
Due: components, tests

list (#130)
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
  generator-foodq/generators/app/index.js
Due: components, tests

add logger logic
  backend/package.json
  backend/src/extension.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings-changes-handler.ts
  backend/src/logger/settings.ts
Due: none

remove old logs
  backend/src/extension.ts
  backend/src/output-channel-log.ts
  backend/src/webSocketServer/index.ts
  backend/src/webSocketServer/server-log.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/src/youi-log.ts
  backend/tests/yeomanui.spec.ts
Due: none

issue #105 UI doesn't indicate installation of dependencies
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

issue #105 UI doesn't indicate installation of dependencies (#129)
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

add files
  backend/package.json
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings.ts
  backend/src/yeomanui.ts
Due: none

version-0.0.35
  backend/package.json
Due: none

Update jest.config.js
  frontend/jest.config.js
Due: components

version-0.0.35 (#131)
  backend/package.json
  frontend/jest.config.js
Due: components

exclude logger files from code coverage
  backend/.nycrc.json
Due: none

update activate method test
  backend/src/extension.ts
  backend/tests/extension.spec.ts
Due: none

update coverage
  backend/.nycrc.json
  backend/tests/yeomanui.spec.ts
Due: none

update coverage
  backend/src/yeomanui.ts
  frontend/jest.config.js
Due: components

create logger instance
  backend/src/extension.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/yeomanui.ts
Due: none

logic
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/logger/youi-log-impl.ts
  backend/src/logger/youi-log.ts
  backend/src/webSocketServer/index.ts
  backend/src/webSocketServer/server-log.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/tests/yeomanui.spec.ts
Due: none

update logger logic
  backend/.nycrc.json
  backend/src/logger/youi-log-impl.ts
  backend/src/logger/youi-log.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

add error message
  backend/src/webSocketServer/server-log.ts
Due: none

update coverage after merge
  backend/.nycrc.json
Due: none

change severety level
  backend/.nycrc.json
  backend/src/logger/youi-log-impl.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

remove console.log
  backend/src/yeomanui.ts
Due: none

list validation
  frontend/src/assets/css/globalStyles.css
Due: components

list validation (#133)
  frontend/src/assets/css/globalStyles.css
Due: components

CR fixes
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/logger/settings.ts
  backend/tests/extension.spec.ts
Due: none

remove toggleLog
  backend/package.json
  backend/tests/extension.spec.ts
  frontend/src/components/Header.vue
  frontend/tests/components/Header.spec.js
Due: components, tests

revert toggle output
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/logger/youi-log-impl.ts
  backend/src/logger/youi-log.ts
  backend/src/theia.ts
  backend/src/webSocketServer/server-log.ts
  backend/src/yeomanui.ts
  backend/tests/extension.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

update coverage
  backend/.nycrc.json
  backend/src/extension.ts
Due: none

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
