Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

disable toggle output button
  backend/src/logger/youi-log-impl.ts
  frontend/src/components/Header.vue
Due: components

diable toggle output button
  frontend/src/components/Header.vue
  frontend/tests/components/Header.spec.js
Due: components, tests

showInstallMessage - withProgress
  backend/.nycrc.json
  backend/src/extension.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

use log and output channel
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings-changes-handler.ts
  backend/src/logger/settings.ts
  backend/src/output-channel-log.ts
  backend/src/theia.ts
  backend/src/webSocketServer/server-log.ts
  backend/src/yeomanui.ts
  backend/src/youi-log.ts
  backend/tests/extension.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/tests/components/Header.spec.js
Due: components, tests

update testscd
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/webSocketServer/index.ts
  backend/src/webSocketServer/server-log.ts
  backend/src/yeomanui.ts
Due: none

notify about error on next
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

add more logs
  backend/src/yeomanui.ts
Due: none

add tests
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

cr fix
  backend/src/extension.ts
Due: none

cr fixes
  backend/package.json
  backend/src/logger/settings.ts
Due: none

Integrate inquirer-gui
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/GeneratorSelection.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/src/components/Step.vue
  frontend/src/main.js
Due: components

update coverage
  backend/.nycrc.json
  backend/src/yeomanui.ts
Due: none

update version
  backend/package.json
  frontend/package.json
Due: components

Output + Logger (#138)
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings-changes-handler.ts
  backend/src/logger/settings.ts
  backend/src/output-channel-log.ts
  backend/src/theia.ts
  backend/src/webSocketServer/index.ts
  backend/src/webSocketServer/server-log.ts
  backend/src/yeomanui.ts
  backend/src/youi-log.ts
  backend/tests/extension.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

merge fixes
  backend/package.json
  backend/src/extension.ts
  backend/src/logger/settings.ts
  frontend/package.json
Due: components

merge with master
  backend/.nycrc.json
  backend/src/yeomanui.ts
  frontend/jest.config.js
Due: components

UI - Prompt Description
  backend/src/messages.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/src/components/Step.vue
  frontend/tests/components/Header.spec.js
  frontend/tests/components/Step.spec.js
  generator-foodq/generators/app/index.js
Due: components, tests

fix lint errors in backend
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/filter.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings.ts
  backend/src/theia.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/tests/extension.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

add tests
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
Due: components, tests

fix lint errors in backend (#140)
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/filter.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings.ts
  backend/src/theia.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/tests/extension.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

version 0.0.37
  backend/package.json
Due: none

UI - Prompt Description (#139)
  backend/package.json
  backend/src/messages.ts
  backend/src/yeomanui.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/src/components/Step.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
  frontend/tests/components/Step.spec.js
  generator-foodq/generators/app/index.js
Due: components, tests

fix list empty string value
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

fix list empty string value (#141)
  frontend/jest.config.js
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

Reload
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

Update README.md
  README.md
Due: none

Update README.md
  generator-foodq/README.md
Due: none

Reload
  frontend/jest.config.js
  frontend/tests/App.spec.js
Due: components, tests

Reload (#142)
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

"version": "0.0.38"
  backend/package.json
Due: none

Update README.md (#143)
  README.md
  backend/package.json
  generator-foodq/README.md
Due: none

[BUG-FIX] reload at summary step
  frontend/src/App.vue
Due: components

[BUG-FIX] reload at summary step (#147)
  frontend/src/App.vue
Due: components

[UI] Reload button text & tooltip
  frontend/src/components/Header.vue
Due: components

"version": "0.0.39"
  backend/package.json
Due: none

Update Header.vue <v-tooltip bottom>
  frontend/src/components/Header.vue
Due: components

[UI] Reload button text & tooltip (#148)
  backend/package.json
  frontend/src/components/Header.vue
Due: components

update coverage
  frontend/jest.config.js
Due: components

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
