Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

[Performance] VS Code extensions bundling Jira: https://sapjira.wdf.sap.corp/browse/DEVXCORE-1942
  backend/.vscodeignore
  backend/package.json
  backend/webpack.config.js
  frontend/vue.config.js
Due: components

Align circle-ci artifact release flow
  .circleci/config.yml
Due: none

Update frontend dev dependencies declaration
  frontend/package.json
Due: components

Arrange dependencies
  frontend/package.json
Due: components

Arrange dependencies (continue)
  backend/package.json
  frontend/package.json
Due: components

Arrange packaging process
  .circleci/config.yml
Due: none

Arrange build proccess (cont.)
  .circleci/config.yml
Due: none

Regex adjustments + comments resolving
  .circleci/config.yml
  backend/.vscodeignore
  backend/webpack.config.js
  frontend/package.json
Due: components

Update README.md
  README.md
Due: none

[Performance] VS Code extensions bundling (#277)
  .circleci/config.yml
  README.md
  backend/.vscodeignore
  backend/package.json
  backend/webpack.config.js
  frontend/vue.config.js
Due: components

inquirer-gui : 0.1.13 Update QuestionList Separator align left.
  frontend/package.json
Due: components

inquirer-gui : 0.1.13 Update QuestionList Separator align left. (#278)
  frontend/package.json
Due: components

Update README.md
  backend/README.md
Due: none

Update webpack.config.js
  backend/webpack.config.js
Due: none

Update README.md (#279)
  README.md
  backend/webpack.config.js
Due: none

Brandvoice review for readme.md
  README.md
Due: none

Update package.json
  backend/package.json
Due: none

Update README - fix LICENSE url
  README.md
Due: none

fix add to workspace logic
  backend/.nycrc.json
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

update coverage
  backend/.nycrc.json
  backend/README.md
  backend/src/vscode-youi-events.ts
Due: none

[FEATURE] Clickable Steps
  backend/src/replayUtils.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/src/components/Navigation.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Navigation.spec.js
Due: components, tests

"version": "1.0.9"
  backend/package.json
Due: none

[FEATURE] Clickable Steps (#282)
  backend/package.json
  backend/src/replayUtils.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/src/components/Navigation.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Navigation.spec.js
Due: components, tests

Upgrade "@vscode-logging/logger" to "1.1.0". Bump version to "1.0.10".
  backend/package.json
Due: none

Remove reload button
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/tests/components/Header.spec.js
Due: components, tests

Remove reload button (#285)
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/tests/components/Header.spec.js
Due: components, tests

Fix: unreadable log label
  backend/src/extension.ts
  backend/src/logger/logger-wrapper.ts
Due: none

Fix: unreadable log label (#286)
  backend/src/extension.ts
  backend/src/logger/logger-wrapper.ts
Due: none

Fix: unreadable log label
  backend/src/extension.ts
  backend/src/logger/logger-wrapper.ts
  backend/tests/extension.spec.ts
Due: none

Fix: unreadable log label (#287)
  backend/src/extension.ts
  backend/src/logger/logger-wrapper.ts
  backend/tests/extension.spec.ts
Due: none

init xploregens
  backend/README.md
  backend/package.json
  backend/src/ExploreGensPanel.ts
  backend/src/YeomanUIPanel.ts
  backend/src/extension.ts
  backend/tests/extension.spec.ts
Due: none

set npm path preferences
  backend/package.json
Due: none

development
  .vscode/launch.json
  backend/README.md
  backend/package.json
  backend/src/ExploreGensPanel.ts
  backend/src/extension.ts
Due: none

launch
  .vscode/launch.json
Due: none

update launch config
  backend/README.md
  backend/webpack.config.js
Due: none

config launch
  .vscode/launch.json
  backend/.vscodeignore
  backend/src/ExploreGensPanel.ts
Due: none
