Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

code improvement
  backend/package.json
  backend/src/extension.ts
  backend/src/messages.ts
  backend/src/yeomanui.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/Header.vue
Due: components

add test
  frontend/jest.config.js
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

Update extension.ts
  backend/src/extension.ts
Due: none

CR fixes
  backend/src/extension.ts
Due: none

version update
  backend/package.json
  frontend/package.json
Due: components

improve backend coverage
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/tests/yeomanui.spec.ts
Due: none

adding Done component tests
  frontend/jest.config.js
  frontend/src/components/Done.vue
  frontend/tests/components/Done.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

adding Done component tests
  .vscode/launch.json
Due: none

adding more tests
  frontend/jest.config.js
  frontend/tests/components/Done.spec.js
Due: components, tests

update rpc version
  frontend/package.json
Due: components

CR fixes
  backend/src/extension.ts
  frontend/src/App.vue
Due: components

Update Done.spec.js
  frontend/tests/components/Done.spec.js
Due: components, tests

isInTheia - mapping vscode commands to theia commands [Revert this change once commands are implemented in Theia]
  backend/package.json
  backend/src/extension.ts
  backend/src/theia.ts
Due: none

[CR Fixes] isInTheia - mapping vscode commands to theia commands [Revert this change once commands are implemented in Theia]
  backend/src/theia.ts
Due: none

[CR Fixes] isInTheia - mapping vscode commands to theia commands [Rev…
  backend/.nycrc.json
Due: none

conditional prompts
  backend/src/extension.ts
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components

Update messages.ts
  backend/src/messages.ts
Due: none

_.startCase
  backend/src/yeomanui.ts
  generator-foodq/generators/app/index.js
Due: none

"version": "0.0.17",
  backend/package.json
Due: none

dynamic prompts list
  backend/src/yeomanui.ts
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components

[BUG-FIX]: Step validation - question.isValid === false && question.isWhen === true
  frontend/src/components/Step.vue
  generator-foodq/generators/app/index.js
Due: components

version: "0.0.18"
  backend/package.json
Due: none

improve prompt performance
  frontend/src/App.vue
Due: components

add test
  frontend/jest.config.js
  frontend/tests/App.spec.js
Due: components, tests

add more tests
  frontend/tests/App.spec.js
Due: components, tests

Update package.json
  frontend/package.json
Due: components

improve logic and add tests
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

add tests and improve code
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

improve logic
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

cr fixes
  frontend/jest.config.js
  frontend/src/App.vue
Due: components

[UI] Busy Indicator
  frontend/package.json
  frontend/src/App.vue
Due: components

[UI] Busy Indicator
  frontend/src/App.vue
Due: components

Align Title And Prompts left pane + Add code linter and formatter
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/logo.svg
  frontend/src/assets/main.styl
  frontend/src/components/Header.vue
  frontend/src/components/Navigation.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/main.js
  frontend/src/plugins/vuetify.js
  frontend/tests/components/Done.spec.js
  frontend/tests/components/Header.spec.js
  frontend/vue.config.js
  frontend/webpack.config.js
Due: components, tests

tests
  frontend/tests/App.spec.js
  frontend/tests/Utils.js
  frontend/tests/components/Header.spec.js
  frontend/tests/components/Navigation.spec.js
Due: components, tests

bug fix - questions are not displayed
  frontend/jest.config.js
  frontend/src/App.vue
Due: components

Align Title And Prompts left pane + Add code linter and formatter
  frontend/jest.config.js
  frontend/src/components/Navigation.vue
Due: components

remove isEqual logic
  backend/package.json
  frontend/src/App.vue
Due: components

update logic and test
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Update jest.config.js
  frontend/jest.config.js
Due: components

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
