Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

When 'Open in new workspace' and 'Add to workspace' should be shown.
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

When 'Open in new workspace' and 'Add to workspace' should be shown. (#379)
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

improve generator start logic
  backend/src/yeomanui.ts
Due: none

Sprint review feedback fixes.
  backend/src/messages.ts
  generator-foodq/generators/app/index.js
Due: none

set a different icon for vscode and theia
  backend/src/images/errorMessage.ts
  backend/src/images/infoMessage.ts
  backend/src/images/theia/errorMessage.ts
  backend/src/images/theia/infoMessage.ts
  backend/src/images/theia/warnMessage.ts
  backend/src/images/vscode/errorMessage.ts
  backend/src/images/vscode/infoMessage.ts
  backend/src/images/vscode/warnMessage.ts
  backend/src/images/warnMessage.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
Due: none

remove require cache
  backend/package.json
  backend/src/yeomanui.ts
  backend/webpack.config.js
Due: none

improve logic
  backend/package.json
  backend/src/yeomanui.ts
  backend/webpack.config.js
Due: none

finalize logic
  backend/src/yeomanui.ts
Due: none

Adding background to the buttons
  frontend/src/App.vue
Due: components

add webpack config rules
  backend/package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  backend/webpack.config.js
Due: none

update logic
  backend/package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  backend/webpack.config.js
  frontend/package.json
Due: components

update logic
  backend/src/yeomanui.ts
Due: none

replace the diagonal
  frontend/src/App.vue
Due: components

remove the border-top from the prompt message
  frontend/src/App.vue
Due: components

use env.runGenerator(gen) instead of gen.run()
  backend/src/yeomanui.ts
Due: none

use lookup API
  backend/package.json
  backend/src/yeomanui.ts
Due: none

use lookup API (#386)
  backend/package.json
  backend/src/yeomanui.ts
Due: none

Add different icons to a dark and light theme
  backend/src/images/imageMessage.ts
  backend/src/images/theia/errorMessage.ts
  backend/src/images/theia/infoMessage.ts
  backend/src/images/theia/warnMessage.ts
  backend/src/images/vscode/errorMessage.ts
  backend/src/images/vscode/infoMessage.ts
  backend/src/images/vscode/warnMessage.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

changed scope and version
  frontend/package.json
Due: components

generator-foodq - opts.data
  generator-foodq/generators/app/index.js
Due: none

Adding tooltip
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
Due: components

generator-foodq - opts.data (#387)
  generator-foodq/generators/app/index.js
Due: none

Fixing the tooltip
  frontend/src/App.vue
Due: components

Created .npmrc
  frontend/.npmrc
Due: components

Adding unit tests
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
Due: components

Adding more unit tests
  backend/tests/yeomanui.spec.ts
Due: none

Adding unit tests
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Adding todo for the errors
  frontend/tests/App.spec.js
Due: components, tests

CR fixes
  backend/.nycrc.json
  backend/package.json
  backend/src/images/imageMessage.ts
  backend/src/images/messageImages.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  generator-foodq/generators/app/index.js
Due: components

format src files
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components

notification messages (#375)
  backend/.nycrc.json
  backend/package.json
  backend/src/images/defaultImage.ts
  backend/src/images/messageImages.ts
  backend/src/logUtils.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/tests/App.spec.js
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components, tests

add new types
  generator-foodq/generators/app/index.js
  generator-foodq/package.json
  types/package.json
  types/src/AppWizard.ts
Due: none

update logic
  backend/src/logUtils.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  generator-foodq/package.json
Due: none

update logic
  backend/package.json
  generator-foodq/generators/app/index.js
  generator-foodq/package.json
  types/package.json
  types/src/AppWizard.ts
  types/src/Prompts.ts
Due: none

update logic
  backend/package.json
  backend/src/images/messageImages.ts
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-events.ts
  generator-foodq/generators/app/index.js
Due: none

update logic
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/server-youi-events.ts
  types/src/AppWizard.ts
Due: none

update logic
  backend/src/vscode-youi-events.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
Due: components

update tests
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/tests/App.spec.js
Due: components, tests

add tests
  backend/package.json
  backend/src/vscode-output.ts
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none
