Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

update coverage
  frontend/jest.config.js
Due: components

Update package.json
  frontend/package.json
Due: components

add description
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

description
  frontend/jest.config.js
Due: components

started fixing tests
  .vscode/launch.json
  backend/src/webSocketServer/index.ts
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/main.js
  frontend/tests/App.spec.js
  frontend/tests/Utils.js
  frontend/tests/components/GeneratorSelection.spec.js
  frontend/tests/components/QuestionTypes/QuestionCheckbox.spec.js
  frontend/tests/components/QuestionTypes/QuestionConfirm.spec.js
  frontend/tests/components/QuestionTypes/QuestionEditor.spec.js
  frontend/tests/components/QuestionTypes/QuestionExpand.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
  frontend/tests/components/Step.spec.js
  frontend/vue.config.js
Due: components, tests

generator-fodq prompt description
  generator-foodq/generators/app/index.js
Due: none

generator-fodq prompt description (#150)
  generator-foodq/generators/app/index.js
Due: none

consume new inquirer-gui version
  frontend/package.json
Due: components

fixes
  backend/src/yeomanui.ts
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components

fixed start over
  frontend/package.json
  frontend/src/App.vue
Due: components

Remove theia commands
  backend/src/extension.ts
  backend/src/theia.ts
  frontend/src/components/Header.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
Due: components

Remove theia commands (#149)
  backend/src/extension.ts
  backend/src/theia.ts
  frontend/src/components/Header.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
Due: components

update coverage and add test
  backend/.nycrc.json
  frontend/jest.config.js
  frontend/tests/components/Header.spec.js
Due: components, tests

remove unused code
  backend/.nycrc.json
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

"version": "0.0.40"
  backend/package.json
Due: none

remove unused data parameter
  frontend/src/App.vue
Due: components

improve logic
  backend/package.json
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.vue
Due: components

fix bug
  frontend/jest.config.js
  frontend/src/App.vue
Due: components

fix dependencies
  backend/.nycrc.json
  backend/package.json
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings-changes-handler.ts
  backend/src/logger/settings.ts
  backend/src/webSocketServer/index.ts
  backend/tests/yeomanui.spec.ts
Due: none

fix logger
  backend/src/webSocketServer/index.ts
Due: none

Update package.json
  backend/package.json
Due: none

update coverage
  backend/.nycrc.json
Due: none

add type string to the CWD parameter
  backend/src/yeomanui.ts
Due: none

fix styling
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/css/globalStyles.css
Due: components

"version": "0.0.40" (#151)
  backend/package.json
Due: none

bump inquirer-gui version; busy indicator when calling evaluate method; fix summary
  frontend/package.json
  frontend/src/App.vue
Due: components

Error running the backend : npm run ws:run #153
  backend/package.json
Due: none

fix splice method
  generator-foodq/generators/app/index.js
Due: none

fixed linter issues and increased coverage
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

fix logger
  backend/.nycrc.json
  backend/package.json
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings-changes-handler.ts
  backend/src/logger/settings.ts
  backend/src/webSocketServer/index.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/package.json
Due: components

change color of next arrow
  frontend/src/assets/css/globalStyles.css
Due: components

add error handler
  backend/src/yeomanui.ts
Due: none

add log message
  backend/.nycrc.json
  backend/src/yeomanui.ts
Due: none

fix logger (#155)
  backend/.nycrc.json
  backend/package.json
  backend/src/logger/logger-wrapper.ts
  backend/src/logger/settings-changes-handler.ts
  backend/src/logger/settings.ts
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/package.json
Due: components

Error running the backend : npm run ws:run #153 (#154)
  backend/package.json
Due: none

global style: set btn opacity to 0.55 when disabled
  frontend/src/assets/css/globalStyles.css
Due: components

global style: set btn opacity to 0.55 when disabled (#156)
  frontend/src/assets/css/globalStyles.css
Due: components

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
