Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

Support remote file browser + other custom question types
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  generator-foodq/generators/app/index.js
Due: components

[UI] headerTitle Suffix
  backend/src/vscode-youi-events.ts
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
Due: components

add tests
  backend/.nycrc.json
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

cr fixes
  backend/.nycrc.json
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  generator-foodq/generators/app/index.js
Due: none

fix error handling (#166)
  backend/.nycrc.json
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  generator-foodq/generators/app/index.js
Due: none

add tests
  frontend/jest.config.js
  frontend/tests/App.spec.js
Due: components, tests

[UI] headerTitle Suffix (#168)
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
  generator-foodq/generators/app/index.js
Due: components, tests

Started implementing back functionality
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Further enhancements to back support
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/src/App.vue
Due: components

update and add tests
  backend/.nycrc.json
  backend/src/yeomanui.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

improve generator logic
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components

inquirer-gui-0.0.29
  frontend/package.json
  generator-foodq/generators/app/index.js
Due: components

inquirer-gui-0.0.29 (#170)
  frontend/package.json
  generator-foodq/generators/app/index.js
Due: components

@sap-devx/inquirer-gui-0.0.31
  backend/package.json
  frontend/package.json
Due: components

@sap-devx/inquirer-gui-0.0.31 (#171)
  backend/package.json
  frontend/package.json
Due: components

update generator
  frontend/package.json
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components

ensure back retains prompt list in client
  backend/src/yeomanui.ts
  frontend/.vscode/launch.json
  frontend/src/App.vue
  frontend/src/assets/css/globalStyles.css
  frontend/vue.config.js
Due: components

increase test coverage
  frontend/tests/App.spec.js
Due: components, tests

update foodq generator
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: none

update subgenerator
  generator-foodq/generators/app2/index.js
Due: none

Support Remote File Browser (#169)
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  generator-foodq/generators/app/index.js
Due: components

"version": "0.0.49"
  backend/package.json
Due: none

"version": "0.0.49" (#172)
  backend/package.json
Due: none

back: rembmer answers even if next is not pressed; recall answers when pressing next; retain prompts list
  backend/package.json
  backend/src/answersUtils.ts
  backend/src/iPrompt.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

input border styles
  frontend/src/assets/css/globalStyles.css
Due: components

added border to input controls
  frontend/src/assets/css/globalStyles.css
Due: components

Added border to input controls (#173)
  frontend/src/assets/css/globalStyles.css
Due: components

displayName property in package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

"version": "0.0.50"
  backend/package.json
Due: none

displayName property in package.json (#174)
  backend/package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

made icons inline for questions of type login and file browse; also added tooltips
  backend/src/extension.ts
  frontend/package.json
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
Due: components

merge latest changes
  backend/src/yeomanui.ts
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
Due: components

update coverage
  backend/.nycrc.json
  frontend/tests/App.spec.js
Due: components, tests

add types
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
  types/.gitignore
  types/package.json
  types/src/Prompts.ts
  types/tsconfig.json
Due: none

expose IPrompt interface
  backend/src/yeomanui.ts
  types/src/Prompts.ts
Due: none

Inline icons (#175)
  backend/src/extension.ts
  frontend/package.json
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
Due: components

Update index.js
  generator-foodq/generators/app/index.js
Due: none

Update index.js
  generator-foodq/generators/app2/index.js
Due: none

CR fixes
  .circleci/config.yml
  backend/src/yeomanui.ts
  generator-foodq/generators/app/index.js
Due: none

fixed layout of back and next buttons and diagonal line
  frontend/src/App.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/GeneratorSelection.vue
Due: components
