Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

test
  frontend/tests/components/QuestionTypeSelector.spec.js
Due: components, tests

"version": "0.0.21",
  backend/package.json
Due: none

cr
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/Navigation.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/tests/components/QuestionTypeSelector.spec.js
  frontend/tests/components/QuestionTypes/QuestionCheckbox.spec.js
  frontend/tests/components/QuestionTypes/QuestionEditor.spec.js
  frontend/tests/components/QuestionTypes/QuestionExpand.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
Due: components, tests

cr
  frontend/src/App.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
Due: components

fix generator bugs
  generator-foodq/generators/app/index.js
  generator-foodq/package.json
Due: none

code fixes
  generator-foodq/generators/app/index.js
Due: none

cr
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
Due: components

cr
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
Due: components

get changed index
  frontend/src/App.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/src/components/Step.vue
Due: components

improve code
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
Due: components

fix logic
  frontend/src/App.vue
Due: components

disable some tests
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Ui improvement (#89)
  frontend/src/App.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/Done.vue
  frontend/src/components/Navigation.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/src/main.js
  frontend/src/plugins/vuetify.js
  frontend/tests/components/Done.spec.js
  frontend/tests/components/QuestionTypes/GeneratorSelection.spec.js
  frontend/tests/components/QuestionTypes/QuestionCheckbox.spec.js
Due: components, tests

ux
  frontend/src/components/Header.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

ux
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
Due: components

add tests
  frontend/tests/App.spec.js
Due: components, tests

add tests
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

update coverage
  frontend/jest.config.js
Due: components

add tests
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/components/Step.spec.js
Due: components, tests

ui
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

ux (#93)
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/Header.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

add tests
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/tests/components/QuestionTypes/QuestionCheckbox.spec.js
  frontend/tests/components/QuestionTypes/QuestionConfirm.spec.js
Due: components, tests

generator-foodq
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app/templates/index.html
Due: none

generator-foodq (#94)
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app/templates/index.html
Due: none

pass method to all question components
  frontend/src/App.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/src/components/Step.vue
  frontend/tests/components/QuestionTypes/QuestionCheckbox.spec.js
  frontend/tests/components/QuestionTypes/QuestionConfirm.spec.js
  frontend/tests/components/QuestionTypes/QuestionEditor.spec.js
  frontend/tests/components/QuestionTypes/QuestionExpand.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
  frontend/tests/components/Step.spec.js
Due: components, tests

create selectGenerator method in relevant components
  frontend/src/App.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/Step.vue
  frontend/tests/App.spec.js
  frontend/tests/components/QuestionTypes/GeneratorSelection.spec.js
  frontend/tests/components/Step.spec.js
Due: components, tests

create selectGenerator method in relevant components (#96)
  frontend/src/App.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/Step.vue
  frontend/tests/App.spec.js
  frontend/tests/components/QuestionTypes/GeneratorSelection.spec.js
  frontend/tests/components/Step.spec.js
Due: components, tests

[UX] elevation=2
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
Due: components

[UX] elevation=2 (#97)
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
Due: components

update backend dependencies
  backend/package.json
Due: none

UX && Set version to 0.0.22
  backend/package.json
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

UX && Set version to 0.0.22 (#98)
  backend/package.json
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
Due: components

Update Readme.md - screenshot.png
  screenshot.png
Due: none

catch question exception
  frontend/src/App.vue
Due: components

Update QuestionTypeSelector.vue
  frontend/src/components/QuestionTypeSelector.vue
Due: components

Update package.json
  backend/package.json
Due: none

remove bootstrap
  frontend/package.json
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/tests/App.spec.js
  frontend/tests/Utils.js
Due: components, tests

add test
  frontend/tests/App.spec.js
Due: components, tests

Update Readme.md - screenshot.png (#99)
  screenshot.png
Due: none

fix solution
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
