Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

[OSS] Integrate with Coveralls (#398)
  .circleci/config.yml
  README.md
  backend/package.json
  frontend/jest.config.js
Due: components

"@sap-devx/inquirer-gui": "0.1.20"
  backend/package.json
  frontend/package.json
Due: components

"@sap-devx/inquirer-gui": "0.1.20" (#401)
  backend/package.json
  frontend/package.json
Due: components

[OSS] Add Commitizen
  README.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update package.json
  backend/package.json
Due: none

ci: add commitizen support
  .circleci/config.yml
Due: none

fix: commitlint path
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

[OSS] Add Commitizen (#402)
  .circleci/config.yml
  CONTRIBUTING.md
  README.md
  backend/package.json
Due: none

ci: downgrade "coveralls" to "2.11.16"
  backend/package.json
Due: none

ci: fix
  .circleci/config.yml
Due: none

Update README.md
  README.md
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

ci: downgrade "coveralls" to "2.11.16" (#404)
  backend/package.json
Due: none

feat: enable usage analytics reporting from VS Code
  backend/package.json
Due: none

downgrade: "@sap-devx/inquirer-gui": "0.1.19"
  frontend/package.json
Due: components

revert: "@sap-devx/inquirer-gui": "0.1.19" (#413)
  frontend/package.json
Due: components

feat: enable usage analytics reporting from VS Code
  README.md
Due: none

feat: enable usage analytics reporting from VS Code (#405)
  README.md
  backend/package.json
Due: none

fix: "@sap-devx/inquirer-gui": "0.1.21"
  frontend/package.json
Due: components

"version": "1.1.36"
  backend/package.json
Due: none

fix: "@sap-devx/inquirer-gui": "0.1.21"
  backend/package.json
Due: none

fix: "@sap-devx/inquirer-gui": "0.1.21" (#414)
  backend/package.json
  frontend/package.json
Due: components

feat: the parameter of swa tracker is applicationwizard
  backend/src/swa-tracker/swa-tracker-wrapper.ts
Due: none

fix: replace <tool name> with application wizard
  README.md
Due: none

feat: the parameter of swa tracker is applicationwizard (#415)
  README.md
  backend/src/swa-tracker/swa-tracker-wrapper.ts
Due: none

feat: version = 1.1.37
  backend/package.json
Due: none

feat: version = 1.1.37 (#416)
  backend/package.json
Due: none

feat: on 1st generator prompt change 'back' to 'start over'
  backend/package.json
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

feat: on 1st generator prompt change 'back' to 'start over' (#418)
  backend/package.json
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

fix: removed unused frontend devDependencies
  frontend/package.json
Due: components

fix: removed unused frontend devDependencies (#420)
  frontend/package.json
Due: components

poc: init pr
  backend/package.json
  backend/src/extension.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
Due: none
