Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

improve logic
  backend/src/YeomanUIPanel.ts
  backend/src/exploregens.ts
Due: none

improve logic
  backend/src/extension.ts
  backend/src/output-channel-log.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
Due: none

refactor extension logic
  backend/src/extension.ts
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
Due: none

add ui
  backend/src/panels/AbstractWebviewPanel.ts
  backend/src/panels/ExploreGensPanel.ts
  frontend/public/exploreGensIndex.html
  frontend/src/App.vue
  frontend/src/ExploreGensApp.vue
  frontend/src/components/ExploreGenerators.vue
  frontend/src/exploreGensMain.js
  frontend/vue.config.js
Due: components

add multi page logic
  backend/src/exploregens.ts
  frontend/src/ExploreGensApp.vue
  frontend/src/components/ExploreGenerators.vue
  frontend/vue.config.js
Due: components

add extension tests
  backend/src/extension.ts
  backend/tests/extension.spec.ts
Due: none

Adding unit test to exploregens class
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

logic improvement
  backend/src/panels/AbstractWebviewPanel.ts
Due: none

ui improvement
  backend/src/panels/ExploreGensPanel.ts
  frontend/src/components/ExploreGenerators.vue
Due: components

improve ui
  frontend/src/components/ExploreGenerators.vue
Due: components

Adding more unit tests
  backend/package.json
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
Due: none

remove "only" from the tests
  backend/package.json
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
Due: none

filter logic fix
  backend/src/yeomanui.ts
Due: none

Update yeomanui.ts
  backend/src/yeomanui.ts
Due: none

Update vscode-youi-events.ts
  backend/src/vscode-youi-events.ts
Due: none

Update package.json
  backend/package.json
Due: none

Update yeomanui.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

adding authors method
  backend/src/exploregens.ts
Due: none

pass data to generator
  backend/src/extension.ts
  backend/src/yeomanui.ts
Due: none

logic
  backend/src/extension.ts
Due: none

adding init method
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
Due: none

save state
  backend/src/extension.ts
  frontend/src/App.vue
Due: components

save state
  frontend/src/App.vue
Due: components

update coverage
  frontend/jest.config.js
Due: components

update logic
  backend/src/exploregens.ts
  backend/src/panels/AbstractWebviewPanel.ts
Due: none

update tests
  backend/tests/exploregens.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

update ui
  frontend/src/ExploreGensApp.vue
  frontend/src/components/ExploreGenerators.vue
Due: components

filter logic fix (#302)
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

update tests
  backend/.nycrc.json
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

update ui logic
  frontend/jest.config.js
  frontend/src/ExploreGensApp.vue
  frontend/src/components/ExploreGenerators.vue
Due: components

update logic
  backend/src/extension.ts
  frontend/src/App.vue
Due: components

add unit tests
  backend/src/extension.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Update extension.ts
  backend/src/extension.ts
Due: none

pass data object to generator + restore project creation from template panel bug fix (#303)
  backend/package.json
  backend/src/extension.ts
  backend/src/yeomanui.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

adding recommended parameter insted of author
  backend/.nycrc.json
  backend/package.json
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
  frontend/src/ExploreGensApp.vue
Due: components

change ui
  frontend/src/ExploreGensApp.vue
Due: components

update ui and tests
  backend/src/exploregens.ts
  backend/tests/exploregens.spec.ts
  frontend/src/ExploreGensApp.vue
Due: components

update logic
  backend/src/exploregens.ts
  frontend/src/ExploreGensApp.vue
Due: components
