Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

error_handling
  backend/package.json
  backend/src/yeomanui.ts
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/Done.vue
  frontend/tests/components/Done.spec.js
Due: components, tests

fix lint errors
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/components/Done.vue
Due: components

fix type
  frontend/src/App.vue
Due: components

Error handling (#157)
  backend/package.json
  backend/src/extension.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/Done.vue
  frontend/tests/components/Done.spec.js
Due: components, tests

Yeoman-UI Events handeling
  backend/src/extension.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/index.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/src/youi-events.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/src/assets/css/globalStyles.css
Due: components

PromptInfo.vue
  frontend/src/App.vue
  frontend/src/components/PromptInfo.vue
Due: components

changed styles for checkboxes and radio buttons
  frontend/src/assets/css/globalStyles.css
Due: components

turn off busy indicator when failing to evaluate remote method
  frontend/src/App.vue
Due: components

remove red style from error messages; add red asterisk instead
  frontend/package.json
  frontend/src/assets/css/globalStyles.css
Due: components

Yeoman-UI Events handeling
  backend/src/extension.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/src/components/Done.vue
Due: components

Added support for login type
  frontend/package.json
  frontend/src/App.vue
  generator-foodq/generators/app/index.js
Due: components

fix validation message
  backend/src/yeomanui.ts
  frontend/jest.config.js
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/tests/components/Header.spec.js
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
Due: components, tests

add tests
  backend/.nycrc.json
  backend/tests/yeomanui.spec.ts
Due: none

revert list change
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
Due: components, tests

consume new version of vuetify and inquirer-gui to fix radio button click issue
  frontend/package.json
  frontend/src/assets/css/globalStyles.css
Due: components

Update App.vue
  frontend/src/App.vue
Due: components

Yeoman-UI Events handeling
  backend/src/extension.ts
  backend/src/webSocketServer/index.html
  backend/src/webSocketServer/main.js
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/src/components/Done.vue
  frontend/tests/App.spec.js
Due: components, tests

Inquirer-gui (#160)
  .vscode/launch.json
  backend/.vscodeignore
  backend/src/webSocketServer/index.ts
  backend/tests/yeomanui.spec.ts
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/GeneratorSelection.vue
  frontend/src/components/PromptInfo.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/src/components/Step.vue
  frontend/src/main.js
  frontend/tests/App.spec.js
  frontend/tests/Utils.js
  frontend/tests/components/GeneratorSelection.spec.js
  frontend/tests/components/Header.spec.js
  frontend/tests/components/QuestionTypes/QuestionCheckbox.spec.js
  frontend/tests/components/QuestionTypes/QuestionConfirm.spec.js
  frontend/tests/components/QuestionTypes/QuestionEditor.spec.js
  frontend/tests/components/QuestionTypes/QuestionExpand.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
  frontend/tests/components/Step.spec.js
  frontend/vue.config.js
  frontend/webpack.config.js
  generator-foodq/generators/app/index.js
Due: components, tests

version 0.0.43
  backend/package.json
  frontend/package.json
Due: components

Events (#158)
  backend/package.json
  backend/src/extension.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/index.html
  backend/src/webSocketServer/index.ts
  backend/src/webSocketServer/main.js
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/src/youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/Done.vue
  frontend/tests/App.spec.js
Due: components, tests

FIX Issue - GeneratorSelection
  backend/package.json
  frontend/src/App.vue
Due: components

FIX Issue - GeneratorSelection (#161)
  backend/package.json
  frontend/src/App.vue
Due: components

remove asterisk from generator selection
  frontend/src/App.vue
Due: components

version-0.0.45
  backend/package.json
Due: none

Remove * from generator selection (#162)
  backend/package.json
  frontend/src/App.vue
Due: components

handle no type
  backend/package.json
  frontend/package.json
  generator-foodq/generators/app/index.js
Due: components

set background color for questions of type list
  frontend/src/assets/css/globalStyles.css
Due: components

Default question type (#163)
  backend/package.json
  frontend/package.json
  frontend/src/assets/css/globalStyles.css
  generator-foodq/generators/app/index.js
Due: components

Update Done message - 'The project has been successfully generated.\nWould you like to open it?'
  backend/src/vscode-youi-events.ts
Due: none

Update Done message - 'The project has been successfully generated.\nWould you like to open it?' (#164)
  backend/src/vscode-youi-events.ts
Due: none

fix yeoman-ui tab close logic
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

improve logic + adding more tests
  backend/.nycrc.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/tests/components/Header.spec.js
Due: components, tests

Update extension.ts
  backend/src/extension.ts
Due: none

fix install issue
  backend/src/yeomanui.ts
Due: none

fix install logic
  backend/.nycrc.json
  backend/src/yeomanui.ts
  generator-foodq/generators/app/index.js
Due: none

Generator-Foodq add package.json && install dev dependencies
  generator-foodq/generators/app/index.js
Due: none

fix yeoman-ui tab close logic (#165)
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/tests/components/Header.spec.js
  generator-foodq/generators/app/index.js
Due: components, tests

fix error handling
  backend/.nycrc.json
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

improve code
  backend/.nycrc.json
  backend/src/yeomanui.ts
Due: none

Allow setting the output directory
  backend/src/yeomanui.ts
Due: none

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
