Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

chore: update logic
  generator-foodq/generators/app/index.js
Due: none

chore: update logic
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: none

chore: update logic
  generator-foodq/generators/app/templates/index.html
Due: none

chore: change option name to np
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: none

chore: rename option to silent
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: none

Update index.js
  generator-foodq/generators/app/index.js
Due: none

feat: support lcnc (#452)
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app/templates/index.html
  generator-foodq/generators/app2/index.js
  generator-foodq/package.json
Due: none

chore: bump versions
  backend/package.json
  backend/src/env/utils.ts
  frontend/package.json
Due: components

fix: revert frontend versions update
  frontend/package.json
Due: components

fix: set initialCwd in constructor
  backend/src/yeomanui.ts
Due: none

chore: update coverage
  backend/.nycrc.json
Due: none

chore: bump versions + save cwd in constructor (#455)
  backend/.nycrc.json
  backend/package.json
  backend/src/env/utils.ts
  backend/src/yeomanui.ts
Due: none

feat: open a new workspace vs. Add to workspace (multiroot)
  backend/package.json
  backend/src/logger/settings-changes-handler.ts
  backend/src/logger/settings.ts
  backend/src/messages.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/src/youi-events.ts
  backend/tests/yeomanui.spec.ts
Due: none

chore: bump dependency versions
  backend/package.json
Due: none

feat: set root folder for 'browse' command (#377)
  backend/package.json
  backend/src/panels/YeomanUIPanel.ts
  generator-foodq/generators/app/index.js
Due: none

feat: open a new workspace
  backend/package.json
  backend/src/logger/settings.ts
  backend/src/messages.ts
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-adapter.ts
  backend/src/youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

feat: question-link
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/tests/App.spec.js
  generator-foodq/generators/app/index.js
Due: components, tests

feat: question-link (#467)
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/src/webSocketServer/server-youi-events.ts
  backend/src/yeomanui.ts
  backend/src/youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/tests/App.spec.js
  generator-foodq/generators/app/index.js
Due: components, tests

fix: target folder
  backend/src/logger/settings.ts
  backend/src/yeomanui.ts
Due: none

feat: Adding link to preferences
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

chore: generator fodq guiOptions.link
  generator-foodq/generators/app/index.js
Due: none

chore: generator fodq guiOptions.link (#470)
  generator-foodq/generators/app/index.js
Due: none

chore: generator-foodq/generators/app/index.js
  generator-foodq/generators/app/index.js
Due: none

chore: generator-foodq/generators/app/index.js (#471)
  generator-foodq/generators/app/index.js
Due: none

fix: adding tests
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
Due: components

fix: tests
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
Due: none

chore: bump inquirer-gui to version 0.1.26
  frontend/package.json
Due: components

chore: bump inquirer-gui to version 0.1.26
  backend/package.json
Due: none

chore: bump inquirer-gui to version 0.1.26 (#472)
  backend/package.json
  frontend/package.json
Due: components

feat: adding tests
  backend/src/panels/YeomanUIPanel.ts
  backend/tests/vscode-youi-events.spec.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

feat: bump version
  backend/package.json
Due: none

Disable writing npm install output/errors.
  generator-foodq/generators/app/index.js
Due: none

Disable writing npm install output/errors. (#473)
  generator-foodq/generators/app/index.js
Due: none

fix: adding tests
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

feat: replace application wizard to template wizard
  backend/package.json
  backend/src/messages.ts
  backend/src/youi-adapter.ts
  frontend/src/App.vue
  frontend/tests/components/Header.spec.js
Due: components, tests

feat: adding label type
  backend/src/yeomanui.ts
  frontend/package.json
  frontend/src/App.vue
Due: components

feat: ignore generators with tools-suite type in their filter
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
