Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

update tests
  backend/.nycrc.json
  backend/tests/yeomanui.spec.ts
Due: none

update coverage
  backend/package.json
  frontend/jest.config.js
Due: components

increase frontend tests coverage
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

increae coverage
  backend/.nycrc.json
  backend/tests/yeomanui.spec.ts
Due: none

fix browse button
  backend/src/extension.ts
Due: none

fix workspace buttons
  backend/src/vscode-youi-events.ts
Due: none

increase coverage
  backend/.nycrc.json
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

update version
  backend/package.json
Due: none

on success action buttons fixes (#217)
  backend/.nycrc.json
  backend/package.json
  backend/src/vscode-youi-events.ts
  backend/tests/vscode-youi-events.spec.ts
Due: none

Support package path to allow generators in folders other than generator-*. This aligns with CLI behaviour of yeoman-environment 2.8.1.
  backend/src/yeomanui.ts
Due: none

Support package path to allow generators in folders other than (#218)
  backend/src/yeomanui.ts
Due: none

use tiles control to display generators
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
Due: none

update logic
  backend/.nycrc.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/src/components/GeneratorSelection.vue
  frontend/tests/App.spec.js
  frontend/tests/components/GeneratorSelection.spec.js
Due: components, tests

inquirer-gui-tiles-plugin 0.0.2
  frontend/package.json
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components

inquirer-gui-tiles-plugin 0.0.2 (#219)
  frontend/package.json
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/index.js
Due: components

do not how target folder for module generation
  backend/package.json
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
Due: none

inquirer-gui-0.1.6
  frontend/package.json
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/images/car.png
  generator-foodq/generators/app2/images/defaultImage.js
  generator-foodq/generators/app2/images/drone.png
  generator-foodq/generators/app2/images/unavailable.png
  generator-foodq/generators/app2/index.js
Due: components

form.inquirer-gui max-width: 66%
  frontend/package.json
  frontend/src/assets/css/globalStyles.css
Due: components

inquirer-gui-0.1.6 (#220)
  frontend/package.json
  frontend/src/assets/css/globalStyles.css
  generator-foodq/generators/app/index.js
  generator-foodq/generators/app2/images/car.png
  generator-foodq/generators/app2/images/defaultImage.js
  generator-foodq/generators/app2/images/drone.png
  generator-foodq/generators/app2/images/unavailable.png
  generator-foodq/generators/app2/index.js
Due: components

version-0.0.72
  backend/package.json
Due: none

version-0.0.72 (#221)
  backend/package.json
Due: none

add access check
  backend/.nycrc.json
  backend/src/extension.ts
Due: none

add validation logic
  backend/.nycrc.json
  backend/src/extension.ts
  backend/src/yeomanui.ts
Due: none

update logic
  backend/.nycrc.json
  backend/src/yeomanui.ts
Due: none

inquirer-gui 0.1.7
  frontend/package.json
Due: components

fix tests
  backend/tests/yeomanui.spec.ts
Due: none

customize generatos lookup path
  backend/src/extension.ts
  backend/src/yeomanui.ts
Due: none

"fix" tests
  backend/.nycrc.json
  backend/tests/extension.spec.ts
  backend/tests/yeomanui.spec.ts
Due: none

update back button logic
  frontend/src/App.vue
Due: components

update messages
  backend/src/messages.ts
Due: none

update messages
  backend/src/yeomanui.ts
Due: none

add target folder control to the generator prompt (#214)
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/messages.ts
  backend/src/webSocketServer/index.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/GeneratorSelection.vue
  frontend/tests/App.spec.js
  frontend/tests/components/GeneratorSelection.spec.js
Due: components, tests

update versions
  backend/package.json
  frontend/package.json
Due: components

update versions (#225)
  backend/package.json
  frontend/package.json
Due: components

inquirer-gui-tiles-plugin 0.0.4
  frontend/package.json
Due: components

Update package.json
  frontend/package.json
Due: components

inquirer-gui-tiles-plugin": "0.0.6"
  frontend/package.json
Due: components

inquirer-gui-tiles-plugin": "0.0.7"
  frontend/package.json
Due: components

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
