Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 90%
        flags: frontend
flags:
  components:
    paths:
      - frontend
    assume: true
  tests:
    paths:
      - frontend/tests/

set default output path to projects (#338)
  backend/src/panels/YeomanUIPanel.ts
Due: none

finish button + generating message
  backend/package.json
  backend/src/messages.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

update tests
  backend/.nycrc.json
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

update tests
  backend/.nycrc.json
Due: none

remove file formating
  backend/src/yeomanui.ts
Due: none

update logic
  backend/src/messages.ts
  backend/src/yeomanui.ts
  frontend/src/App.vue
Due: components

add backend tests
  backend/.nycrc.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
Due: components

add tests
  backend/tests/yeomanui.spec.ts
Due: none

add frontend tests
  frontend/jest.config.js
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

improve coverage
  backend/.nycrc.json
Due: none

add tests
  frontend/tests/App.spec.js
Due: components, tests

finish button + generating message
  backend/.nycrc.json
  backend/package.json
  backend/src/messages.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

finish button + generating message (#342)
  backend/.nycrc.json
  backend/package.json
  backend/src/messages.ts
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Header.spec.js
Due: components, tests

do not show buttons row on finish
  backend/package.json
  frontend/src/App.vue
Due: components

Update App.vue
  frontend/src/App.vue
Due: components

do not show buttons row on finish (#343)
  backend/package.json
  frontend/src/App.vue
Due: components

simplify on generator install step
  backend/.nycrc.json
  backend/package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
Due: components

Update .nycrc.json
  backend/.nycrc.json
Due: none

simplify generator on install logic (#344)
  backend/.nycrc.json
  backend/package.json
  backend/src/yeomanui.ts
  backend/tests/yeomanui.spec.ts
  frontend/src/App.vue
Due: components

add fake input element to solve form element issue
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

improve code coverage
  frontend/jest.config.js
  frontend/src/App.vue
Due: components

use inquirer-gui version 0.1.15
  frontend/package.json
Due: components

Update package.json
  frontend/package.json
Due: components

use inquirer-gui version 0.1.16 (#346)
  frontend/package.json
Due: components

[DEVXCORE-2082] : [Application Wizard] Report usage analytics.
  backend/.nycrc.json
  backend/package.json
  backend/src/extension.ts
  backend/src/logger/logger-wrapper.ts
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/swa-tracker/swa-tracker-wrapper.ts
Due: none

[DEVXCORE-2082] : [Application Wizard] Report usage analytics.
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/swa-tracker/swa-tracker-wrapper.ts
Due: none

[DEVXCORE-2082] : [Application Wizard] Report usage analytics.
  backend/src/panels/ExploreGensPanel.ts
Due: none

[DEVXCORE-2082] : [Application Wizard] Report usage analytics. Fix test.
  backend/tests/extension.spec.ts
Due: none

Consume new version of the logger
  backend/package.json
Due: none

Update logger-wrapper.ts
  backend/src/logger/logger-wrapper.ts
Due: none

[DEVXCORE-2082] : [Application Wizard] Report usage analytics.
  backend/src/swa-tracker/swa-tracker-wrapper.ts
Due: none

[DEVXCORE-2082] : [Application Wizard] Report usage analytics.
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/vscode-youi-events.ts
Due: none

fix default value on back
  backend/src/replayUtils.ts
Due: none

Update package.json
  backend/package.json
Due: none

[DEVXCORE-2082] : [Application Wizard] Report usage analytics.
  backend/src/swa-tracker/swa-tracker-wrapper.ts
  backend/src/vscode-youi-events.ts
  backend/src/yeomanui.ts
Due: none

Consume new version of the logger (#347)
  backend/package.json
  backend/src/logger/logger-wrapper.ts
Due: none

[DEVXCORE-2082] : [Application Wizard] Report usage analytics.
  backend/src/panels/ExploreGensPanel.ts
  backend/src/panels/YeomanUIPanel.ts
  backend/src/yeomanui.ts
Due: none
