Repository SAP/yeoman-ui: changes, and which Codecov flags are due for each by the changed paths.
All: components, tests

Align Title And Prompts left pane + Add code linter and formatter
  frontend/src/components/Navigation.vue
Due: components

Align Title And Prompts left pane + Add code linter and formatter
  frontend/package.json
  frontend/src/App.vue
Due: components

Align Title And Prompts left pane + Add code linter and formatter
  frontend/package.json
Due: components

add mdi
  frontend/package.json
  frontend/src/plugins/vuetify.js
Due: components

remove redundant
  frontend/public/index.html
Due: components

performance improvement
  frontend/src/App.vue
Due: components

update tests
  frontend/jest.config.js
  frontend/tests/App.spec.js
Due: components, tests

improve code
  frontend/src/App.vue
Due: components

Align next button + cards + inputs + overall
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/src/components/Navigation.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/src/components/Step.vue
  frontend/src/main.js
  frontend/src/plugins/vuetify.js
  frontend/tests/components/QuestionTypes/QuestionCheckbox.spec.js
  frontend/tests/components/QuestionTypes/QuestionExpand.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
Due: components, tests

Support different checkbox data type
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
Due: components

Align next button + cards + inputs + overall
  frontend/src/App.vue
Due: components

code improvement
  frontend/src/App.vue
Due: components

toggle color fix
  frontend/src/components/QuestionTypes/QuestionExpand.vue
Due: components

fix button text color
  frontend/src/App.vue
Due: components

done buttons
  frontend/src/components/Done.vue
Due: components

tests
  frontend/tests/components/Done.spec.js
Due: components, tests

Done-Notification
  backend/src/extension.ts
  frontend/src/App.vue
  frontend/src/components/Done.vue
Due: components

--vscode-editorWidget-background, #252526
  frontend/src/App.vue
Due: components

"version": "0.0.20",
  backend/package.json
Due: none

Done - frontend tests
  backend/src/extension.ts
  frontend/jest.config.js
  frontend/src/components/Done.vue
  frontend/tests/App.spec.js
  frontend/tests/components/Done.spec.js
Due: components, tests

more
  frontend/src/App.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/main.js
  frontend/src/plugins/vuetify.js
Due: components

add tests
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

Done - isInVSCode
  frontend/src/App.vue
Due: components

Done - update Test Covarage (backend). TODO: increase backend test covarage
  backend/.nycrc.json
  frontend/tests/App.spec.js
Due: components, tests

cr fixes
  frontend/jest.config.js
  frontend/src/App.vue
Due: components

Done - frontend tests
  frontend/jest.config.js
  frontend/tests/App.spec.js
Due: components, tests

Busy - transparet backgroeund
  frontend/src/App.vue
Due: components

Done - CR fixes
  backend/src/extension.ts
Due: none

cr fixes
  frontend/jest.config.js
  frontend/src/App.vue
  frontend/tests/App.spec.js
Due: components, tests

more
  frontend/src/App.vue
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/Done.vue
  frontend/src/components/Navigation.vue
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/GeneratorSelection.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionEditor.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
  frontend/src/components/QuestionTypes/QuestionInput.vue
  frontend/src/components/QuestionTypes/QuestionList.vue
  frontend/src/main.js
  frontend/tests/components/QuestionTypes/GeneratorSelection.spec.js
Due: components, tests

Update App.vue
  frontend/src/App.vue
Due: components

Update App.spec.js
  frontend/tests/App.spec.js
Due: components, tests

more2
  frontend/src/components/QuestionTypes/QuestionExpand.vue
Due: components

more2
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/QuestionTypeSelector.vue
  frontend/src/components/QuestionTypes/QuestionCheckbox.vue
  frontend/src/components/QuestionTypes/QuestionConfirm.vue
  frontend/src/components/QuestionTypes/QuestionExpand.vue
Due: components

cr fixes
  frontend/src/assets/css/globalStyles.css
  frontend/src/components/Done.vue
Due: components

tests
  frontend/tests/components/Done.spec.js
  frontend/tests/components/QuestionTypeSelector.spec.js
  frontend/tests/components/QuestionTypes/QuestionCheckbox.spec.js
  frontend/tests/components/QuestionTypes/QuestionEditor.spec.js
  frontend/tests/components/QuestionTypes/QuestionExpand.spec.js
  frontend/tests/components/QuestionTypes/QuestionInput.spec.js
  frontend/tests/components/QuestionTypes/QuestionList.spec.js
Due: components, tests

Path conditions:
  components: any of: frontend
  tests: any of: frontend/tests/
